{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Course Header for Syllabus
}}
<div class="course-syllabus" id="syllabusContent-{{courseid}}">
    <div class="card">
        {{#syllabustitle}}
        <div class="card-header d-flex justify-content-between" id="courseSyllabusHeader-{{courseid}}">
            <span class="title">{{ syllabustitle }}</span>
            <button class="btn btn-link align-self-start p-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#syllabusContentCollapsible-{{courseid}}"
                    aria-controls="syllabusContentCollapsible-{{courseid}}"
                    aria-label="{{# str }} collapse {{/ str }}">
                <span class="expanded {{#expanded }}hidden{{/expanded}}">{{# pix }} t/expanded, theme_savoir {{/ pix }}</span>
                <span class="collapsed {{^expanded }}hidden{{/expanded}}">{{# pix }} t/collapsed, theme_savoir {{/ pix }}</span>
            </button>
        </div>
        {{/syllabustitle}}
        <div id="syllabusContentCollapsible-{{courseid}}" class="collapse {{#expanded }}show{{/expanded}}" aria-labelledby="courseSyllabusHeader-{{courseid}}" data-parent="#syllabusContent-{{courseid}}">
            <div class="card-body p-0 syllabus-content">
                {{{ content }}}
            </div>
        </div>
    </div>
</div>
{{#js}}
    // Add courseid to the list
    $('#syllabusContentCollapsible-{{courseid}}').on('hide.bs.collapse', function() {
        var csprefname = '{{coursesyllabusprefname}}';
        if (M.util && csprefname) {
            var csclosedstatus = [{{csclosedstatus}}];
            csclosedstatus.push({{courseid}});
            M.util.set_user_preference(csprefname, csclosedstatus.join(',')) ;
       }
    });
    // Remove course id from the list
    $('#syllabusContentCollapsible-{{courseid}}').on('show.bs.collapse', function() {
        var csprefname = '{{coursesyllabusprefname}}';
        if (M.util && csprefname) {
            var csclosedstatus = [{{csclosedstatus}}];
            csclosedstatus = csclosedstatus.filter(function(currentid) { return currentid != {{courseid}}; } );
            M.util.set_user_preference(csprefname, csclosedstatus.join(',')) ;
        }
    });
    $('#syllabusContentCollapsible-{{courseid}}').on('hidden.bs.collapse', function() {
        $('#courseSyllabusHeader-{{courseid}} .expanded').hide();
        $('#courseSyllabusHeader-{{courseid}} .collapsed').show();
    });
    $('#syllabusContentCollapsible-{{courseid}}').on('shown.bs.collapse', function() {
        $('#courseSyllabusHeader-{{courseid}} .expanded').show();
        $('#courseSyllabusHeader-{{courseid}} .collapsed').hide();
    });
{{/js}}
