{{!
    @template theme_savoir/nav-drawer
    SAVOIR: Just change the flat navigation template to theme_savoir

    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_savoir/flat_navigation }}
</div>
